.cookie-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  margin-bottom: 10px;
  background-color: rgb(65, 63, 63);
  padding: 10px;
  position: sticky;
  top: 0.5px;
}

.cookie-container a {
  color: grey;
}

.button-privacy {
  background-color: rgba(37, 119, 185, 0.616);
  padding: 10px;
  border-radius: 5px;
  border: 1px;
  font-size: 18px;
}
